@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu&display=swap');


body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/assets/img/canchafondo.jpg') no-repeat center center/cover;
  filter: blur(1px); /* Ajusta el nivel de blur según sea necesario */
  z-index: 1;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0,0,0,0.7) 50%, rgba(0,0,0,0.7) 50%);
  z-index: 2;
}
  
  .container {
    text-align: center;
    padding: 50px;
    color: #fff;
    z-index: 54;
  }
  .container h1{
    font-size: 63px;
    font-weight: 400;
  }
  .paletas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }

  
  .paleta {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  .paleta h2,  .paleta p{
    color:#000;

  }
 
  .button {
    background: #6782FF;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .button:hover{
    background: #5472FF;
  }
  .button-light{
    background: transparent;
    color: #fff;
    padding: 15px 30px;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  .button-light:hover{
    background: #fff;
    color:#5472FF;
  }

  
  
  .call-to-action1, .call-to-action2 {
    display: flex;
    justify-content: space-around;
    z-index: 99;
    color:#fff;
  }
  .call-to-action1{
    background-color: #91C159;
    width: 100%;
    padding: 20px 0 20px 0;
  }
  .call-to-action2{
    width: 100%;
    padding: 20px 0 20px 0;
  }
  a{
    text-decoration: none;
    color:inherit
  }

  div.paleta li{
    font-size: 13px;
    text-align: start;
}
.paleta img{
  width: auto;
  max-height: 200px;
  
}
p.oferta, p.presentacion{
  color:#fff;
  position: relative;
  z-index: 90;
  font-size: 16px;
}
p.presentacion{
  max-width: 800px;
  margin: auto;
  padding-bottom: 40px;
}

input[type=text]{
  width: 90%;
  border:1px solid rgba(0,0,0,0.2);
  border-radius: 10px;
  padding: 10px;
}
div.consulta, div.consulta-otra{
  background: #fffbfb;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 99;
  width:95%;
  height: auto;
  max-width: 350px;
  max-height: 400px;
  border-radius: 10px;
  box-shadow: 3px 3px #6782FF;
  padding: 30px 20px;
  display: none;
  
}
div.consulta h3, div.consulta-otra{
  text-align: center;
}
div.consulta .btn-consulta, div.consulta-otra .btn-consulta{
  width: 100%;
  margin-top: 20px;
  
  
}
div.consulta span, div.consulta-otra span{
  font-size: 13px;
  
  display: block;
}
div.consulta-otra input, div.consulta-otra label{
  margin-bottom: 5px;
}
.button-transparent{
  background: transparent;
  color: #5472FF;
  padding: 15px 30px;
  border: 1px solid #5472FF;
  border-radius: 5px;
  cursor: pointer;
}
.button-transparent:hover{
  background: #5472FF;
  color:#fff;
}
.paletas h3{
  width: 100%;
  font-size: 42px;
  margin: 0;
}
@media only screen and (max-width:780px){
      .container h1{
        font-size:43px;
        text-align: center;
        padding: 0 10px;
    }
    div.consulta, div.consulta-otra{
      max-width: 280px;
    }
    .paletas{
      align-items: center;
        flex-direction: column;
    }
    .container{
      padding: 50px 0;
    }
    body:before{
        height: 100vh;  
    }
    .paletas .paleta{
        width: 85%;
    }
    .paletas .paleta img{
      max-height: 300px;
    }
    body{
      height: 100%;
    }
    .call-to-action2, .call-to-action1{
      max-height: 300px;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 30px 20px;
    }
    .call-to-action2 button, .call-to-action1 button{
      width: 100%;
      max-width: 270px;
      margin-bottom: 20px;
    }
    body:after, body::before{
      height: 100%; 
   }
   a{
    font-size: 20px;
   }
   h2{
    font-size: 28px;
   }
   p.oferta, p.presentacion{
    text-align: center;
    padding: 20px;
}

}

@media only screen and (min-width:780px) and (max-width:1030px){
.container h1{
    font-size:43px;
}
.paletas{
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body:after, body::before{
  height: 100%; 
}
body{
  height: 100%;
}
.paleta{
    width: 90%;
    height: auto;
    min-height: 300px;
}
.call-to-action2, .call-to-action1{
  max-height: 200px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.call-to-action2 button, .call-to-action1 button{
  max-width: 200px;
}
}

