body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/assets/img/pexels-ollivves-1103829.jpg') no-repeat center center/cover;
  filter: blur(5px); /* Ajusta el nivel de blur según sea necesario */
  z-index: 1;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 50%);
  z-index: 2;
}
  
  .container {
    text-align: center;
    padding: 50px;
    color: #fff;
    z-index: 54;
  }
  .container h1{
    font-size: 63px;
    font-weight: 400;
  }
  .paletas {
    display: flex;
    justify-content: space-around;
    gap: 20px;
  }

  
  .paleta {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  .paleta h2,  .paleta p{
    color:#000;

  }
  .paleta img{
    width: auto;
    max-height: 200px;
    
  }
  .button {
    background: #6782FF;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .button:hover{
    background: #5472FF;
  }
  .button-light{
    background: transparent;
    color: #fff;
    padding: 15px 30px;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  .button-light:hover{
    background: #fff;
    color:#5472FF;
  }

  
  
  .call-to-action1, .call-to-action2 {
    display: flex;
    justify-content: space-around;
    z-index: 99;
    color:#fff;
  }
  .call-to-action1{
    background-color: #91C159;
    width: 100%;
    padding: 20px 0 20px 0;
  }
  .call-to-action2{
    width: 100%;
    padding: 20px 0 20px 0;
  }
  a{
    text-decoration: none;
    color:inherit
  }

  div.paleta li{
    font-size: 13px;
    text-align: start;
}



@media only screen and (max-width:779px){
  .container h1{
    font-size:43px;
}
.paletas{
    flex-wrap: wrap;
    flex-direction: column;
}
body:before{
    height: 100vh;  
}
.paleta{
    width: 100%;
    max-width: 300px;
}
}

@media only screen and (min-width:780px) and (max-width:1430px){
.container h1{
    font-size:43px;
}
.paletas{
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body:after{
   height: auto; 
}
.paleta{
    width: 85%;
    height: auto;
    min-height: 300px;
}
.call-to-action2, .call-to-action1{
  max-height: 200px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.call-to-action2 button, .call-to-action1 button{
  max-width: 200px;
}
}