@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
}
a,p, span, li, h3, h4, h5, h6, h2 {
    font-family: "Montserrat", sans-serif;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/assets/img/canchafondo.jpg') no-repeat center center/cover;
    filter: blur(1px); /* Ajusta el nivel de blur según sea necesario */
    z-index: 1;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,0.7) 50%, rgba(0,0,0,0.7) 50%);
    z-index: 2;
}
div.titulo{
    width: 50%;
    height: 100%;
    max-width: 600px;
    max-height: 500px;
    display: flex;
    justify-content: start;
    align-items: baseline;
    flex-direction: column;
    background-color: transparent;
}
div.titulo h1, div.titulo h3{
    color:#fff;
}
img.logo{
    width: 80px;
    height: auto;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 99;
}
h1{
    font-size: 60px;
    
    font-weight: 500;
    text-align: start;
    font-family: "Montserrat", sans-serif;

    margin-bottom: 0;
}
.titulo h3{
    text-align: start;
    margin-top: 100px;
}
.items-intro{
    display: flex;
    justify-content: space-evenly;
    position: relative;
}
.items-intro span{
    font-size: 13px;
    max-width: 180px;
}
.container-form{
    width: 100%;
    height: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 20px;
    gap: 50px;
    position: relative;
    z-index: 3;
}
.intro{

    padding: 50px;
    width: 50%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
    color:#6B7888;
    z-index: 10;
}
.texto-precio{
    color:#5271FF;
}
.texto-servicio{
    color:#ACD082;
}
@media only screen and (max-width: 768px) {
    .banner{
        display: none;
    }
    .container-form{
        width: 100%;
        overflow-y: scroll;
    }
    h1{
        margin-top: 60px;
        font-size: 32px;
        margin-bottom: 10px;
    }
}


.container {
    padding: 50px 40px;
    width: 50%;
    height: auto;
    max-width: 515px;
    max-height: 500px;
    min-height: 350px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
    color:#6B7888;
    z-index: 20;
    position: relative;
}
form p{
    font-size: 12px;
}

/*flecha*/
.right{
    position: absolute;
    top:-20px;
    right: 30%;
    width: 20px;
}
.left{
    transform: rotate(180deg);
    transform: rotateY(180deg);
    position: absolute;
    top:-20px;
    right: 70%;
    width: 20px;
}


.texto-precio, .texto-servicio, .precio, .servicio {
    position: relative;
    z-index: 2; /* Ensure the text is above the arrows */
}

@media only screen and (max-width: 768px) {
    .logo{
        max-width: 250px;
    }

}

form {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    
}
.slider1 input, .slider1 h4{
    width: 100%;
    margin: auto;
}
.slider1 span{
    color:rgba(0,0,0,0.4); 
    font-size: 13px;
    text-align: center;
    padding: 15px 0;
}
.slider1 h4{
    text-align: center;
    padding-bottom: 10px;
}
.range-container {
    position: relative;
    width: 100%;
    max-width: 450px;
    margin: 20px auto;
}

.range-slider {
    width: 100%;
}

.range-values {
    display: flex;
    justify-content: space-between;
    opacity: 1;
    margin-top: 40px;
}

#value1, #value2 {
    width: 80px;
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 10px;
    color: rgba(0,0,0,0.4);
}

#value1:before, #value2:before {
    content: '$';
}

.range-marks {
    position: absolute;
    top: 20px; /* Ajusta la posición de las marcas */
    left: 0;
    width: 100%;
    height: 10px;
    pointer-events: none;
}

.range-marks .mark {
    position: absolute;
    width: 2px;
    height: 10px;
    background-color: #000;
    transform: translateX(-50%);
}

.slider1-p{
    color:#000;
    padding-top: 20px;
    font-size: 14px;
    margin-top: 0;
    padding-top: 0;
}
/* .slide:not(.active) {
    display: none;
} */

h2 {
    margin-top: 0;
}

label {
    display: block;
    margin: 10px 0;
}

button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    border: none;
    background: #6782FF;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #5472FF;
}

/*selects*/
div.slide input[type=text], .form-canchas input, .form-salud input{
    width: 90%;
    border:1px solid rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 10px;
}
div.slide select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
}
div.slide select:focus {
    border-color: rgba(0, 0, 0, 0.5);
    outline: none;
}
@supports (-webkit-touch-callout: none) {
    div.slide select {
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 10px;
        appearance: none; /* Quitar el estilo predeterminado */
        -webkit-appearance: none; /* Safari */
        -moz-appearance: none; /* Firefox */
    }
}

div.slide label{
    font-size: 15px;
    text-align: start;
    font-weight: 500;
    color:#000
}
div.slide{
    text-align: center;
}
div.slide h4{
    text-align: center;
}
.next-btn{
    min-width: 200px;
}
.prev-btn{
    min-width: 100px;
    color:#6782FF;
    border:1px solid #6782FF;
    background-color: transparent;
}
.prev-btn:hover{
    background-color:#5472FF;
    border-color:#5472FF;
    color:#fff;
}

.resultados {
    margin-top: 0 20px;
    padding: 0 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    width: 100%;
    position: absolute;
    background: #fff;
    height: 100%;
}

.resultados h2 {
    margin-top: 0;
}

.resultados p {
    margin: 5px 0;
}

.info-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    background: #6782FF;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.info-btn:hover {
    background: #6782FF;
}

.popup{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 5px;
    z-index: 1000; 
    width: 100%;
    max-width: 300px;
    height: 200px;
    background: rgb(251,143,143);
    color:#fff;
    font-weight: 700;
    text-transform: uppercase;

}
.popup p{
    text-align: center;
    display: block;
}

.popup-content{
      width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.botones{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}


/*img */
.img{
    width: 100%;
    height: auto;
    max-width: 400px;
    object-fit: cover;
    margin:0 auto;
    padding: 0 0px 10px;
    border-radius: 10px 10px;
}

/*progreso*/
.progress-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.progress-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f1f1f1;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
}

.progress-line {
    width: 50px;
    height: 4px;
    background-color: #f1f1f1;
}
.progress-line.active{
    background-color: #6782FF;
    transition: all 0.5s ease-in-out;
}
.progress-circle.active {
    background-color: #6782FF;
    color: white;
    transition: all 0.5s ease-in-out;
}

.slide {
    display: none;
}

.slide.active {
    display: block;
}

.button-transparent{
    background: transparent;
    color: #5472FF;
    padding: 15px 30px;
    border: 1px solid #5472FF;
    border-radius: 5px;
    cursor: pointer;
  }
  .button-transparent:hover{
    background: #5472FF;
    color:#fff;
  }
  
  .call-to-action2 {
    display: flex;
    justify-content: space-around;
    z-index: 99;
    color:#fff;
  }
  .call-to-action2{
    width: 100%;
    padding: 20px 0 20px 0;
  }

.call-to-action1 {
    display: flex;
    justify-content: space-around;
    z-index: 99;
    color:#fff;
    background-color: #91C159;
    width: 100%;
    padding: 20px 30px;
  }
  .call-to-action1 p{
    max-width: 600px;
  }
  a{
    text-decoration: none;
    color:inherit
  }

  p.oferta{
    color:#fff;
    position: relative;
    z-index: 90;
    font-size: 16px;
  }


  div.consulta{
    background: #fffbfb;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 99;
    width:90%;
    height: auto;
    max-width: 480px;
    max-height: 590px;
    border-radius: 10px;
    box-shadow: 3px 3px #6782FF;
    padding: 30px 20px;
    display: none;
    
  }

  div.consulta-medica{
    background: #f1f1f1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 99;
    width:90%;
    height: auto;
    max-width: 400px;
    max-height: 550px;
    border-radius: 10px;
    box-shadow: 3px 3px rgba(0,0,0,0.5);
    padding: 30px 20px 0;
    display: none;
    text-align: center;
  }
  div.consulta-medica ul{
    display: block;
    text-align: start;
  }

  .form-canchas, .form-salud {
    display: flex;
    flex-direction: column;
  }
  div.consulta h3, div.consulta-medica h3{
    text-align: center;
  }
  div.consulta .btn-consulta, .consulta-medica .btn-consulta-medica{
    width: 100%;
    margin: 20px auto 0;
    max-width: 270px; 
  }
  div.consulta p, .consulta-medica p{
    font-size: 13px;
    
    display: block;
  }
  .button-transparent{
    background: transparent;
    color: #5472FF;
    padding: 15px 30px;
    border: 1px solid #5472FF;
    border-radius: 5px;
    cursor: pointer;
  }
  .button-transparent:hover{
    background: #5472FF;
    color:#fff;
  }
  @media only screen and (max-width:780px){
    div.titulo{
        width: 95%;
        height: auto;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        
    }
    div.titulo h1{
        font-size: 32px;
        text-align: center;
    }
    div.titulo h3{
        font-size: 15px;
        text-align: center;
    }
    .container-form{
        min-width: 100%;
        gap:0px;
        height: auto;
        align-items: stretch;
        
    }
    .margin-top{
        margin-top:120px;
    }
    .intro{
        margin-bottom:30px;
        padding: 30px 25px; 
        width: 80%;
        max-width: none;
        
    }
    .intro p{
        font-size: 13px;
    }
    .intro h3{
        text-align: center;
        font-size: 20px;
    }
    .intro h4{
        font-size: 13px;
    }
    .call-to-action1, .call-to-action2{
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .call-to-action1 p, .call-to-action2 p{
        text-align: center;
    }
    .container{
        min-height: 500px;
        padding: 20px 10px 0 10px!important;
        justify-content: center;
        overflow-x: hidden;
        width: 90%;
        max-width: 400px;
        overflow-y: scroll;
        margin-bottom: 50px;
      }
      .prev-btn, button[type="submit"]{
        min-width: 200px;
      }
      .progress-container{
        margin-bottom: 0;
        margin-top: 20px;
      }
      .slider1-p, .oferta{
        text-align: center;
      }
      div.consulta{
        max-width: 95%;
      }
      .form-canchas, .form-salud{
        width: 90%;
        margin: auto;
      }

}
  /*responsive*/
  @media only screen and (min-width:780px) and (max-width:1100px){
    div.titulo{
        width: 100%;
        max-width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        
    }
    div.titulo h1{
        font-size: 60px;
        text-align: center;
    }
    .container-form{
        min-width: 100%;
        gap:0px;
        align-items: stretch;
    }
    .intro{
        margin-bottom:30px;
        padding: 20px 50px;
        
    }
    .call-to-action1{
        position: relative;
    }
    .container{
        padding: 50px 50px 0 50px;
        margin-bottom: 50px;
    }
    

}

